.bodydisplay {
  background-color: lightsteelblue;
  height: auto;
  width: 100%;
  margin: 10px auto;
  padding: 5px;
  position: sticky;
  height: 100%;
  overflow: auto;
}

.navBar {
  margin: 10px;
  margin-left: 35px;
  width: 100%;
  padding: 5px;
  background-color: thistle;
  position: relative;
}
