.bodydisplay {
  background-color: #ECECEC;
  height: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: sticky;
  height: 100%;
  overflow: auto;
}

.dashboard-top{
  width: 100%;
  height: 60px;
  display: flex;
  padding-top: 10px;
  margin-bottom: 20px;
  justify-content: space-around;
  background-color: #ffffff;
}

.has-search .form-control {
  padding-left: 2.375rem;
  border-radius: 12px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}


.dashboard-top .dashboard-link ul{
  list-style: none;
  display: flex;
}

.dashboard-top .dashboard-link ul li a{
  color: #424242;
  padding: 0 20px;
  text-decoration: none;
}

.bodydisplay h1{
  padding: 25px 50px;
}

/* .navBar {
  margin: 10px;
  margin-left: 35px;
  width: 100%;
  padding: 5px;
  background-color: thistle;
  position: relative;
} */
