.menu {
  margin: 0px auto;
  padding: 5px !important;
  background-color: #f1f1f1;
  position: sticky;
  height: auto;
  overflow: auto;
}

.button-size {
  margin: 5px;
  width: 150px;
  height: 60px;
}
