.menu {
  background-color: #3b4aff;
  color: #ffffff;
  width: 100%;
  margin: 0;
  padding: 0;
  position: sticky;
  height: auto;
  overflow: auto;
  border: none;
}

.branding-section {
  padding: 20px 0px 10px 20px;
  border-bottom: 1px solid #ececee;
}

.user-avatar {
  width: 100%;
  /* height: 120px; */
  /* padding: 0px 60px 20px 50px; */
  text-align: center;
}

.nav-icons {
  margin-right: 9px;
}

.button-size {
  margin: 5px;
  width: 100%;
  height: auto;
}

@media (max-width: 960px) {
  .menu {
    display: none;
  }
}
