/* Styling page title */
.page-title {
  width: 100%;
  margin-bottom: 35px;
}

.page-title h1 {
  font-size: 10px;
}

/* Table */
#maintananceticket-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

#maintananceticket-table td,
#maintananceticket-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#maintananceticket-table tr {
  /* background-color: #f2f2f2; */
  background-color: rgb(245, 245, 245);
  font-size: 12px;
}

#maintananceticket-table tr:hover {
  background-color: rgb(245, 241, 241);
}

#maintananceticket-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: #222;
}

/* Button */
.view-btn {
  border: none;
  background-color: rgb(59, 74, 255);
  padding: 7px 10px;
  color: white;
  border-radius: 30px;
  font-size: 13px;
}
